*.tar
*.tar.*
*.jar
*.exe
*.msi
*.zip
*.tgz
*.log
*.log.*
*.sig
*.pyc

.history/
entornoflask/
/Final-practicas/.history
/Final-practicas/.vscode
pkg/
src/
venv/
__pycache__/objetivos.cpython-37.pyc
 app/__pycache__/__init__.cpython-37.pyc                                
 app/__pycache__/forms.cpython-37.pyc                                       
 app/__pycache__/models.cpython-37.pyc                                      
 app/__pycache__/routes.cpython-37.pyc
