 <html>
    <head>
        {% if title %}
        <title>{{ title }} - FxxxxT</title>
        {% else %}
        <title>Bienvenido a FxxxxT</title>
        {% endif %}
    </head>
    <body>
        <div>
            FxxxxT
            <a href="{{ url_for('index') }}">Inicio</a>
            {% if current_user.is_anonymous %}
            <a href="{{ url_for('login') }}">Login</a>
            {% else %}
            <a href="{{ url_for('user', username=current_user.username) }}">Profile</a>
            <a href="{{ url_for('bajausuario') }}">Baja de Usuarios</a>
            <a href="{{ url_for('editarusuario') }}">Editar Usuario</a>
            <a href="{{ url_for('objetivos') }}">Objetivos</a>
            <a href="{{ url_for('eliminarobjetivos') }}">Eliminar Objetivos</a>
            <a href="{{ url_for('logout') }}">Logout</a>
            {% endif %}
        </div>
        <hr>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
        {% block content %}{% endblock %}
    </body>
</html>